<template>
    <div class="container is-widescreen">
        <div class="tile is-ancestor">
            <div class="tile">
                <div class="tile is-3 is-parent">
                    <MainForm />
                </div>
                <div class="tile is-9 is-parent">
                    <MainTable />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import MainTable from "@/components/MainTable";
  import MainForm from "@/components/MainForm";

  export default {
    name: "FormTable",
    data() {
      return {

      }
    },
    methods: {
      deletePerson(id) {
        console.log(id);
      }
    },
    components: {
      MainTable,
      MainForm
    }
  }
</script>

<style scoped>
    .b-table {
        width: 100%;
    }
</style>