<template>
    <div>
        <b-field>
            <b-select v-model="perPage">
                <option value="5">5 на страницу</option>
                <option value="10">10 на страницу</option>
                <option value="15">15 на страницу</option>
            </b-select>
        </b-field>

        <b-table
                :data="allPersons"
                paginated
                :per-page="perPage"
                pagination-rounded
                default-sort="id"
                :loading="isTableLoading"
                :narrowed="true"
        >
            <b-table-column field="id" label="ID" width="50" numeric v-slot="props" sortable centered>
                {{ props.row.id }}
            </b-table-column>
            <b-table-column field="name" width="220" label="ФИО" v-slot="props">
                {{ props.row.name }}
            </b-table-column>
            <b-table-column field="date" label="Дата рождения" sortable v-slot="props">
                {{ props.row.date }}
            </b-table-column>
            <b-table-column field="email" label="Email" v-slot="props">
                {{ props.row.email }}
            </b-table-column>
            <b-table-column field="distance" label="Дистанция, км" sortable v-slot="props">
                {{ props.row.distance }}
            </b-table-column>
            <b-table-column field="payment" label="Сумма взноса, руб." sortable v-slot="props" width="120">
                {{ props.row.payment }}
            </b-table-column>
            <b-table-column field="actions" v-slot="props" width="50">
                <b-button
                        @click="confirmDeletePerson(props.row.id)"
                        type="is-danger"
                        size="is-small"
                        outlined
                        icon-right="delete"/>
            </b-table-column>
        </b-table>

    </div>
</template>

<script>
  import {mapActions, mapGetters, mapMutations} from 'vuex';

  export default {
    name: "MainTable",
    data() {
      return {
        perPage: 5
      }
    },
    computed: {
      ...mapGetters(["allPersons", "isTableLoading"])
    },
    methods: {
      ...mapMutations(["deletePerson"]),
      ...mapActions(["fetchPersons"]),
      confirmDeletePerson(id) {
        this.$buefy.dialog.confirm({
          title: 'Предупреждение',
          message: 'Вы уверены, что хотите удалить элемент из таблицы?',
          confirmText: 'Удалить',
          cancelText: 'Отменить',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: () => this.deletePerson(id)
        })
      }
    },
    async mounted() {
      this.fetchPersons();
    }
  }
</script>

<style scoped>

</style>