<template>
    <form @submit.prevent="submitForm" class="form">
        <b-field label="ФИО"
                 type=""
                 message="">
            <b-input type="text"
                     v-model="field.name"
                     value=""
                     name="full_name"
                     @blur="validateForm"
                     required>
            </b-input>
        </b-field>

        <b-field label="Дата рождения"
                 type=""
                 message="">
            <b-datepicker
                    ref="datepicker"
                    expanded
                    v-model="field.date"
                    name="date"
                    @blur="validateForm"
                    placeholder="Нажмите, чтобы выбрать...">
            </b-datepicker>
        </b-field>

        <b-field label="Email"
                 :type="formErrors.email.length ? 'is-danger' : ''"
                 :message="formErrors.email">
            <b-input type="email"
                     v-model="field.email"
                     name="email"
                     :validation-message="formErrors.email"
                     @blur="validateForm"
                     value=""
                     required>
            </b-input>
        </b-field>

        <b-field label="Телефон"
                 :type="formErrors.phone.length ? 'is-danger' : ''"
                 :message="formErrors.phone">
            <b-input type="text"
                     v-model="field.phone"
                     v-mask="'+7 (###) ### ## ##'"
                     placeholder="+7 (___) ___-__-__"
                     name="phone"
                     @blur="validateForm"
                     required>
            </b-input>
        </b-field>

        <b-field label="Дистанция"
                 type=""
                 message="">
            <b-select placeholder="Выберите"
                      v-model="field.distance"
                      required
                      name="distance"
                      @blur="validateForm"
                      expanded>
                <option value="3">3 км</option>
                <option value="5">5 км</option>
                <option value="10">10 км</option>
            </b-select>
        </b-field>

        <b-field label="Сумма взноса, руб."
                 type=""
                 message="">
            <b-input type="number"
                     v-model="field.payment"
                     name="payment"
                     @blur="validateForm"
                     required>
            </b-input>
        </b-field>

        <b-field label="Дата регистрации"
                 type=""
                 message="">
            <b-input type="text"
                     readonly
                     name="dateRegister"
                     v-model="field.dateRegister">
            </b-input>
        </b-field>

        <b-button native-type="submit"
                  type="is-success"
                  :disabled="disableBtnSubmit"
                  expanded>Добавить
        </b-button>
    </form>
</template>

<script>
  import {mapMutations, mapGetters} from 'vuex';
  import { SnackbarProgrammatic as Snackbar } from 'buefy'

  function getFormattedDate(data) {
    var today = new Date(data);
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    return (dd + '.' + mm + '.' + yyyy);
  };

  export default {
    name: "MainForm",
    data() {
      return {
        field: {
          name: "",
          date: [],
          email: "",
          phone: "",
          distance: null,
          payment: null,
          dateRegister: (new Date).toLocaleDateString()
        },
        formErrors: {
          email: "",
          phone: ""
        },
        disableBtnSubmit: true
      }
    },
    computed: {
      ...mapGetters(["countPersons"])
    },
    methods: {
      ...mapMutations(["addPersonToTable"]),
      submitForm() {
        const personData = {
            id: this.countPersons+1,
            name: this.field.name,
            date: getFormattedDate(this.field.date),
            email: this.field.email,
            phone: this.field.phone,
            distance: this.field.distance,
            payment: this.field.payment,
            dateRegister: this.field.dateRegister
        };

        this.addPersonToTable(personData);
        Snackbar.open('Участник добавлен в список');

        this.field.name = "";
        this.field.date = [];
        this.field.email = "";
        this.field.phone = "";
        this.field.distance = null;
        this.field.payment = null;
        this.disableBtnSubmit = true;
      },
      validateForm(event) {
        if (event) {
          const theField = event.target,
            fieldName = theField.name,
            field = this.field;

          function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
          }

          if (fieldName === "phone") {
            if (field.phone.length) {
              if (field.phone.length !== 18) {
                this.formErrors.phone = "Завершите ввод номера";
              } else {
                this.formErrors.phone = "";
              }
            } else {
              this.formErrors.phone = "";
            }
          }

          if (fieldName === "email") {
            if (field.email.length) {
              if (!validateEmail(field.email)) {
                this.formErrors.email = "Неверный Email";
              } else {
                this.formErrors.email = "";
              }
            } else {
              this.formErrors.email = "";
            }
          }

          if (field.name && field.date &&
            field.email && field.phone &&
            field.distance && field.payment &&
            field.dateRegister) {
            if (!this.formErrors.email && !this.formErrors.phone) {
              this.disableBtnSubmit = false;
            } else {
              this.disableBtnSubmit = true;
            }
          } else {
            this.disableBtnSubmit = true;
          }
        }
      }
    }
  }
</script>

<style scoped>
    .form {
        width: 100%;
    }
</style>