<template>
  <div id="app">
    <FormTable />
  </div>
</template>

<script>
  import FormTable from '@/views/FormTable';
  export default {
    name: 'app',
    components: {
      FormTable
    }
  }
</script>

<style>
  #app {
    margin: 2rem;
  }
</style>
